<!DOCTYPE html>
<html>
<head>
  <title>Vivien Vigo - Salon Mody Ślubnej</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="description" content="Vivien Vigo to marka sukien ślubnych obecna na polskim rynku od ponad 10 lat.
  W tym samym czasie w Naszej galerii Mody ślubnej w suknie Vivien Vigo ubraliśmy setki panien młodych z całej Polski i nie tylko." />

  <meta name='keywords' content="salon, sukien, ślubnych, grudziądz, ślub, obuwie ślubne, biżuteria, welon, bolerka" />
  <link href="https://fonts.googleapis.com/css?family=Gabriela|Roboto+Condensed&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>
</html>
